body{margin:  0;
padding: 0;
}
a{cursor: pointer;}
.layout{
	margin:0 auto;
	width:1200px;
}
li{
	list-style: none;
}
.layout::before
.layout::after{
	content:"";
	display:table;
}
 .s-sub a:hover{
	color: #ca1514;
}
.shortcut{
	background: #fff;
	font-family: "arial, helvetica, sans-serif";
	margin:0px;
	padding:0px;
	min-width: 1200px;	
}
.s-sub{float:left;}
.s-sub a{
	
	color:#999;
}
.s-sub li:hover span{	
	transform: rotate(180deg);
}
.s-sub>li{
	display: inline-block;
	list-style: none;
	font-size:11px;
	text-decoration:none;
	color:#999;
}
.s-sub> li + li:before {
padding: 0 5px;
color: #ccc;
content: "|\00a0";
}
.drop img{
	padding: 10px;
}
.drop li{
	text-align: center;
}
.s-sub .drop  a:hover{
	color:#ca151d;
	background-color:#ffffff;
}
.s-main{
	float:right;
	padding-right: 40px;
}
.s-main a{
	text-decoration: none;
	color:#999;
}
.s-main  li:hover span{	
	transform: rotate(180deg);
}
.s-main >li{
	display: inline-block;
	list-style: none;
	font-size:11px;
	text-decoration:none;
	color:#999;
}
.s-main> li + li:before {
padding: 0 5px;
color: #ccc;
content: "|\00a0";
}
.s-main a:hover{
	color: #ca1514;
}
.second{
	clear:both;
	padding-left:40px;
}
.logo{
	float: left;
}
.naver{
	float: left;
	height:40px;
	max-width:560px;
	
}
.clearfix::before
.clearfix::after{
	content:"";
	display:table;
}
.clearfix::after{
	clear:both;
}

.naver a{
	text-decoration:none;
	color:#3a3a3a;
	font-size:16px;
	line-height: 40px;

}
.naver a:hover{
	color: #ca1514;
	border-bottom: 1px solid #ca1514;
}
.right{
	float: right;
	margin-top:15px;
	width:295px;
	padding-right:10px;
}
.right input{
	background-image:url(../img/search.png) ;
	background-repeat: no-repeat;
	background-position: right;
	width:285px;
	border:none;
	border-bottom: 1px solid #3a3a3a;
	
}
.searchBar-key{
	text-align:right;
	white-space: nowrap;
	bottom: 8px;
	max-width: 300px;
	overflow: hidden;
	margin-top: -27px;
	padding-right:50px ;
	right:30px;
	z-index: 2;
}
.searchBar-key a{
	background:#f5f5f5  none repeat scroll 0 0 ;
	color: #a4a4a4;
	font-size:11px;
	cursor:pointer;
	text-decoration:none;
}
.searchBar-key a:hover{
	color: #ca1514;
}
*{margin:0;
 padding:0;
 
 }
 .wrap{
 height:450px;
 min-width: 1200px;
 overflow: hidden;
 position:relative
 list-style:none;
 
 }
 .wrap ul li{
 height:450px;
 width: 1300px;
 }
 .wrap ul li img{
 margin-left:-260px;	
 }
 .wrap ol{position:absolute;
         left:580px;
        top:480px;
 }
 .wrap ol li{
 height:10px; 
 width: 10px;
 background:transparent;
 border:solid 1px #fff;
 margin:5px;
 list-style: none;
 color:#000;
 float: left;
 border-radius: 50%;
 cursor:pointer;
 }
 .wrap ol .on{
 background:#ffffff ;
 }
 .hr-60{
 	clear:both;
 	font-size:1px;
 	line-height:1px;
 	height:60px;
 }
.layout .huawei-channel-floor .h{
	margin:0 0 16px;
}
.layout .home-channel-floor .h{
	line-height:36px;
	overflow: hidden;
	position:relative;
}
.huawei-channel-floor .channel-tittle::before{
	background:#900 none repeat scroll 0 0;
	content:"";
	display:block;
	height:4px;
	margin:0 auto;
	width:24px;
}
.huawei-channel-floor .channel-tittle{
	color:#000;
	font-size:30px;
	line-height:50px;
	text-align:center;
	font-family: arial;
	font-weight:normal;
}
#order_nav.grid-list{
	display: inline-block;
	float:left;
}
.layout .goods-list .grid-items{
	display:block;
	float: left;
	border:1px solid #C0C0C0;
	padding:0px ;
	margin-left: -1px;
	height: 280px;		
}

	

.layout .goods-list  li img{
	position:relative;
	top: 2px;
}

#order_nav .list .grid-items:hover {
	background: #900 none repeat scroll 0 0;
	 
 
}

.huawei-channel-floor .grid-list-second {
position: relative;
left: -13px;	
top: -170px;	
	
}
.grid-list-second  .grid-items-second{
	display: block;
    float:left;
   height:190px;
   width: 386px;
   margin-left: 14px;
   
   
}
.huawei-channel-floor .grid-items-second .grid-info{
	background: rgba(0,0,0,0.4) none repeat scroll 0  0;
	bottom: auto;
	display: block;
	height:160px;
	left:196px;
	padding: 30px 10px 0 16px;
	position: relative;
    text-align: left;
    top: 193px;
    width: 164px;
    z-index: 10;	
   
}
.huawei-channel-floor .grid-items-second .grid-info:hover{
	background: rgba(153,0,0,0.8) none repeat scroll 0  0;
	
}
.huawei-channel-floor .grid-items-second .grid-info{
	color:#fff;
}
.huawei-channel-floor .grid-items-second .grid-title{
	font-size:18px;
	line-height:20px;
	max-height:40px;
	padding-bottom: 2px;
	font-weight: normal;
}
.huawei-channel-floor .grid-items-second .grid-desc{
	line-height:28px;
	font-size:12px;
	white-space: nowrap;
}
.huawei-channel-floor .grid-items-second .grid-price::before{
	background: #fff none repeat scroll 0 0;
	content: "";
    display: block;
    height: 2px;
    width: 24px;
}
.huawei-channel-floor .grid-items-second .grid-price{
	color: #fffefe;
    font-size: 14px;
    line-height: 32px;
    margin-top: 16px;
    padding-top: 2px;
}
.home-channel-contanier {
	min-width: 1200px;
	overflow: hidden;
	width: 100%;
}
.relative{
	position:relative;
}
.huawei-channel-contanier .channel-tittle a{
	text-decoration: none;
	color: #333333;
}
.huawei-channel-floor .channel-nav{
	margin-left:0px;
	text-align:center;
}
.huawei-channel-floor .channel-nav li{
	display: inline-block;
	float: none;
	line-height: 34px;
	padding: 5px;
}
.huawei-channel-floor .channel-nav a{
	text-decoration: none;
	color: #717171;
	font-size: 12px;
}
.huawei-channel-floor .channel-more{
	left: auto;
	line-height: 27px;
	position: absolute;
	top: 60px;
	right: 0px;
	text-align: center;
	
}
.huawei-channel-floor .channel-more a::after{
	border-bottom: 4px solid transparent;
	border-left: 6px solid #b2b2b2;
	border-top: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	margin-left: 10px;
	width: 0px;
}
.huawei-channel-floor .channel-more a{
	border: 1px solid #b2b2b2;
	color: #3a3a3a;
	display: block;
	font-size: 12px;
	height: 27px;
	padding: 0 10px 0 14px;
	text-align: right;
	width: 42px;
	text-decoration: none;
}
.huawei-channel-floor .grid-items-ad-291{
	height: 592px;
	width: 291px;	
	
}
.huawei-channel-floor .grid-items-ad-594{
	width: 594px;
	position: relative;
	top: -300px;	
}
.huawei-channel-floor .grid-items-ad-292{
	position: relative;
	top: -300px;	
}
.huawei-channel-floor .grid-second{
	position: relative;
	left: 300px;
	top: -300px;
	padding-left:1px ;
}
.huawei-channel-floor .grid-items-third .thumb{
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	
}
.huawei-channel-floor .grid-items-third{
	position: relative;
	display: inline-block;
	margin-left:4px;
	
	
	
}
.huawei-channel-floor .grid-items-third .grid-info{
position: absolute;
z-index:10;
left: 31px;
padding-right: 10px;
text-align: left;
top: 28px;	

}
.huawei-channel-floor .grid-items-third .grid-title::before{
	background: #900  none repeat scroll 0 0;
	content: "";
	display: block;
	height: 2px;
	margin-bottom: 17px;
	width: 24px;
}
.huawei-channel-floor .grid-items-third .grid-title{
	color: #000;
	font-size:18px;
	line-height: 20px;
	padding-bottom: 2px;
}
.huawei-channel-floor .grid-items-third .grid-price{
	color: #900;
	font-size: 18px;
    line-height: 34px;
    margin-top: 10px;
}
